html {
    height: 100%;
}

body
{
    background-image: url("../images/cool-background.jpg");
    min-width: 400px;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom:60px;    /* Height of the footer */
    background-attachment: fixed;
}

#logo
{
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

#logo-lettering
{
    font-family: 'Nova Square', cursive;
}


#welcome-section
{
    display: flex;
    flex-flow: column;
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 100%;
    padding-bottom:100px;
}

.img-container
{
    align-content: center;
    text-align: center;
    display: block;
}

.welcome-header
{
    text-align: center;
    background-color: #ffeeba;
}

#hi-1
{
    font-size: 75px;
}

#hi-2
{
    font-size: 35px;
}


#footer
{
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


.navbar
{
    background-color: black;
}

#center-form
{
    padding-top: 20px;
    text-align: center;
}

#back-button
{
    background-color: black;
    color: white;
    text-decoration: none;
}

#form-list
{
    padding-top: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.table-center
{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: black;
    border-radius: 5px;
}

td, td, table
{
    border: 3px solid black;
    margin: 4px;
    border-radius: 5px;
}


#custom-button
{
  color: white;
}

h1 {
    color: rgb(49, 49, 49);
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
}

.btn-add {

    background-color: rgb(12, 187, 50);
    color: white;


}

.btn-remove {

    background-color: rgb(187, 12, 12);
    color: white;
}

#dynamic-list {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 0;
}

.ingredient {
    position: relative;
    display: block;
    padding: 10px 20px;

    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid rgb(163, 163, 163);
    border-radius: .25rem;

}

.ingredients {
    margin-left: auto;

}

.input-group-append {
    margin-right: auto;
}

fieldset {
    display: inline-block;
    background-color:#ffeeba !important;
    border:2px groove ;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

label {
    color: black;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}